<app-navbar></app-navbar>
<main class="p-4 vh-100">
  <p class="fs-2 my-2">About Us</p>
  <details class="my-2">
    <summary class="fs-5 btn btn-light">1. What are the main features?</summary>
    <p class="fs-6 bg-secondary text-light p-2 my-2">
      Epcot is a theme park at Walt Disney World Resort featuring exciting
      attractions, international pavilions, award-winning fireworks and seasonal
      special events.
    </p>
  </details>
  <details class="my-2">
    <summary class="fs-5 btn btn-light">2. Why alpha meet is free?</summary>
    <p class="fs-6 bg-secondary text-light p-2 my-2">
      Epcot is a theme park at Walt Disney World Resort featuring exciting
      attractions, international pavilions, award-winning fireworks and seasonal
      special events.
    </p>
  </details>
  <details class="my-2">
    <summary class="fs-5 btn btn-light">3. What is Alphameet?</summary>
    <p class="fs-6 bg-secondary text-light p-2 my-2">
      Epcot is a theme park at Walt Disney World Resort featuring exciting
      attractions, international pavilions, award-winning fireworks and seasonal
      special events.
    </p>
  </details>
  <p class="fs-2 my-2">How to use Alphameet?</p>
</main>
